###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Balcony_man/Assets/Models/Room/Texture/Балкон/UV_балкон.psd.meta
Balcony_man/Assets/Models/Room/Texture/Балкон/UV_балкон.psd

# Visual Studio temporary files and logs
.vs/
*.vscode/
.vscode/
*.vsidx
*.backup.json

# Unity logs
Logs/
*.log
Balcony_man/.vs/Balcony_man/FileContentIndex/cfea95a2-72a7-499d-805a-6bd49ed5ad69.vsidx
